# **Getting Started with PANDAS....**

In [88]:
import numpy as np
import pandas as pd

In [89]:
dict1 = {"name":["harry","rohan","ram"],
         "marks":[67,87,98],
         "city":["rampur","delhi","lmp"]
}

In [90]:
datF = pd.DataFrame(dict1)
datF

    name  marks    city
0  harry     67  rampur
1  rohan     87   delhi
2    ram     98     lmp

In [91]:
datF.to_csv("TestFriends.csv")

In [92]:
datF.to_csv("TestFriends_index.csv",index=False)

In [93]:
datF.head(2)

    name  marks    city
0  harry     67  rampur
1  rohan     87   delhi

In [94]:
datF.tail(2)

    name  marks   city
1  rohan     87  delhi
2    ram     98    lmp

In [95]:
datF.describe()

           marks
count   3.000000
mean   84.000000
std    15.716234
min    67.000000
25%    77.000000
50%    87.000000
75%    92.500000
max    98.000000

In [96]:
hridu = pd.read_csv("stocks.csv")
hridu

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    391                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

In [97]:
hridu["Price"][1] = 400
hridu

C:\Users\hrida\AppData\Local\Temp\ipykernel_15048\3939612007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hridu["Price"][1] = 400

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    400                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

In [98]:
hridu.to_csv("hridu.csv", index=False)

In [99]:
ser =  pd.Series(np.random.rand(54))

In [100]:
type(ser)

pandas.core.series.Series

In [101]:
ser

0     0.969168
1     0.809979
2     0.092387
3     0.028343
4     0.533841
5     0.937655
6     0.647341
7     0.351935
8     0.167190
9     0.404173
10    0.203783
11    0.077098
12    0.904368
13    0.543304
14    0.654864
15    0.079478
16    0.158214
17    0.903105
18    0.242185
19    0.016123
20    0.031783
21    0.491037
22    0.000126
23    0.458365
24    0.197678
25    0.605024
26    0.036285
27    0.489753
28    0.853782
29    0.922797
30    0.719424
31    0.359392
32    0.271461
33    0.069601
34    0.667794
35    0.609253
36    0.186189
37    0.318618
38    0.681894
39    0.796614
40    0.571463
41    0.190380
42    0.637008
43    0.278459
44    0.354720
45    0.729816
46    0.075517
47    0.268895
48    0.227575
49    0.608344
50    0.039732
51    0.829552
52    0.785864
53    0.184635
dtype: float64

In [102]:
newDF = pd.DataFrame(np.random.rand(132,12), index = np.arange(132))
newDF

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.584879,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,0.934521,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277,0.053900
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854,0.649940,0.646986
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736,0.270966,0.583365
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607,0.927098,0.749453
130,0.687840,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575,0.155750,0.292489
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142,0.031317,0.446176

In [103]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.584879,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,0.934521,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277,0.053900

In [104]:
newDF.tail()

,0,1,2,3,4,5,6,7,8,9,10,11
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854,0.649940,0.646986
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736,0.270966,0.583365
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607,0.927098,0.749453
130,0.687840,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575,0.155750,0.292489
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142,0.031317,0.446176

In [105]:
newDF.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [106]:
newDF[0][0] = "Harry"
newDF.dtypes

C:\Users\hrida\AppData\Local\Temp\ipykernel_15048\344599495.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Harry' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newDF[0][0] = "Harry"

0      object
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [107]:
newDF.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       122, 123, 124, 125, 126, 127, 128, 129, 130, 131],
      dtype='int32', length=132)

In [108]:
newDF.columns

RangeIndex(start=0, stop=12, step=1)

In [109]:
newDF.to_numpy()

array([['Harry', 0.05215525417550515, 0.9236837124803946, ...,
        0.8497387036587404, 0.8062862800248204, 0.44280305639466144],
       [0.9345212595641111, 0.42531041429866845, 0.3234938175926644, ...,
        0.15746766556840008, 0.42910588815168726, 0.729364025185054],
       [0.9120488891320927, 0.5183964161324008, 0.2794311094737292, ...,
        0.7608802916924858, 0.8825480780753925, 0.2574806458571136],
       ...,
       [0.9891844107643685, 0.35469231349035923, 0.5211802099558348, ...,
        0.03460659437487279, 0.9270978933024333, 0.7494527361124095],
       [0.6878399343311556, 0.8599387090693443, 0.5412899996211746, ...,
        0.4165754671462282, 0.15575011583647735, 0.29248925750875643],
       [0.7499515562225643, 0.5812597659879749, 0.569212434888936, ...,
        0.5931424032315427, 0.03131686778235965, 0.44617552135606353]],
      dtype=object)

In [110]:
newDF.T

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,Harry,0.934521,0.912049,0.344679,0.241847,0.186227,0.801769,0.231169,0.358575,0.383502,...,0.341129,0.637039,0.999522,0.417231,0.183633,0.942503,0.816604,0.989184,0.68784,0.749952
1,0.052155,0.42531,0.518396,0.735527,0.487257,0.039529,0.048661,0.147633,0.286544,0.171877,...,0.920251,0.597205,0.15627,0.529773,0.30261,0.103897,0.711056,0.354692,0.859939,0.58126
2,0.923684,0.323494,0.279431,0.365081,0.475877,0.564226,0.454128,0.456368,0.834259,0.100368,...,0.600832,0.037883,0.614591,0.785813,0.722403,0.399337,0.690787,0.52118,0.54129,0.569212
3,0.772795,0.763374,0.451404,0.61484,0.206435,0.987826,0.844061,0.404361,0.792811,0.634121,...,0.664244,0.916489,0.281417,0.253724,0.653012,0.419351,0.688132,0.0575,0.565567,0.722417
4,0.714488,0.897881,0.6194,0.989179,0.965785,0.863303,0.840367,0.371154,0.573309,0.558792,...,0.977618,0.840609,0.719561,0.33298,0.4431,0.6899,0.865118,0.634105,0.684221,0.343522
5,0.407887,0.406896,0.510744,0.895835,0.481736,0.8099,0.731411,0.718381,0.568918,0.657106,...,0.827682,0.7648,0.00488,0.271967,0.753887,0.608711,0.384796,0.556048,0.925513,0.264567
6,0.626208,0.048228,0.334865,0.823484,0.023176,0.984117,0.210022,0.980531,0.417799,0.892078,...,0.443796,0.997384,0.746457,0.587722,0.665879,0.599916,0.071435,0.730791,0.616957,0.932907
7,0.963721,0.740402,0.270678,0.031465,0.192094,0.81133,0.409044,0.641848,0.271376,0.393613,...,0.466708,0.93206,0.552321,0.292321,0.449647,0.079242,0.717076,0.534396,0.214249,0.912192
8,0.78538,0.411433,0.520249,0.674876,0.978233,0.514054,0.674399,0.207934,0.721132,0.788184,...,0.34367,0.984413,0.386959,0.009099,0.37754,0.559303,0.974293,0.792656,0.209553,0.746144
9,0.849739,0.157468,0.76088,0.827415,0.482848,0.050633,0.895489,0.240101,0.366293,0.108086,...,0.672529,0.551894,0.935593,0.054661,0.673558,0.457854,0.958736,0.034607,0.416575,0.593142
10,0.806286,0.429106,0.882548,0.285576,0.775277,0.885314,0.154902,0.996134,0.794447,0.868127,...,0.298183,0.022215,0.974647,0.57956,0.680879,0.64994,0.270966,0.927098,0.15575,0.031317
11,0.442803,0.729364,0.257481,0.715317,0.0539,0.585968,0.559819,0.697496,0.266693,0.492252,...,0.682202,0.788828,0.692882,0.643866,0.307665,0.646986,0.583365,0.749453,0.292489,0.446176

In [111]:
newDF.sort_index(axis=1, ascending=False)

,11,10,9,8,7,6,5,4,3,2,1,0
0,0.442803,0.806286,0.849739,0.785380,0.963721,0.626208,0.407887,0.714488,0.772795,0.923684,0.052155,Harry
1,0.729364,0.429106,0.157468,0.411433,0.740402,0.048228,0.406896,0.897881,0.763374,0.323494,0.425310,0.934521
2,0.257481,0.882548,0.760880,0.520249,0.270678,0.334865,0.510744,0.619400,0.451404,0.279431,0.518396,0.912049
3,0.715317,0.285576,0.827415,0.674876,0.031465,0.823484,0.895835,0.989179,0.614840,0.365081,0.735527,0.344679
4,0.053900,0.775277,0.482848,0.978233,0.192094,0.023176,0.481736,0.965785,0.206435,0.475877,0.487257,0.241847
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.646986,0.649940,0.457854,0.559303,0.079242,0.599916,0.608711,0.689900,0.419351,0.399337,0.103897,0.942503
128,0.583365,0.270966,0.958736,0.974293,0.717076,0.071435,0.384796,0.865118,0.688132,0.690787,0.711056,0.816604
129,0.749453,0.927098,0.034607,0.792656,0.534396,0.730791,0.556048,0.634105,0.057500,0.521180,0.354692,0.989184
130,0.292489,0.155750,0.416575,0.209553,0.214249,0.616957,0.925513,0.684221,0.565567,0.541290,0.859939,0.68784
131,0.446176,0.031317,0.593142,0.746144,0.912192,0.932907,0.264567,0.343522,0.722417,0.569212,0.581260,0.749952

In [112]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,0.934521,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277,0.053900

In [113]:
newDF[0]

0         Harry
1      0.934521
2      0.912049
3      0.344679
4      0.241847
         ...
127    0.942503
128    0.816604
129    0.989184
130     0.68784
131    0.749952
Name: 0, Length: 132, dtype: object

In [114]:
newDF2 = newDF
newDF2[0][1] = "Aman"

In [115]:
newDF

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,Aman,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277,0.053900
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854,0.649940,0.646986
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736,0.270966,0.583365
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607,0.927098,0.749453
130,0.68784,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575,0.155750,0.292489
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142,0.031317,0.446176

In [116]:
newDF2

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,Aman,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277,0.053900
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854,0.649940,0.646986
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736,0.270966,0.583365
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607,0.927098,0.749453
130,0.68784,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575,0.155750,0.292489
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142,0.031317,0.446176

In [117]:
newDF3 = newDF.copy()

In [118]:
newDF3[1][2]= 9838

C:\Users\hrida\AppData\Local\Temp\ipykernel_15048\2297054547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDF3[1][2]= 9838

In [119]:
newDF3.loc[0,0] = 4536

In [120]:
newDF3

,0,1,2,3,4,5,6,7,8,9,10,11
0,4536,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,Aman,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,9838.000000,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277,0.053900
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854,0.649940,0.646986
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736,0.270966,0.583365
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607,0.927098,0.749453
130,0.68784,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575,0.155750,0.292489
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142,0.031317,0.446176

In [121]:
newDF.columns = list("ABCDEFGHIJKL")

In [122]:
newDF.head(4)

,A,B,C,D,E,F,G,H,I,J,K,L
0,Harry,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,Aman,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576,0.715317

In [123]:
newDF.loc[0,"A"] = 6659
newDF.head(3)

,A,B,C,D,E,F,G,H,I,J,K,L
0,6659,0.052155,0.923684,0.772795,0.714488,0.407887,0.626208,0.963721,0.785380,0.849739,0.806286,0.442803
1,Aman,0.425310,0.323494,0.763374,0.897881,0.406896,0.048228,0.740402,0.411433,0.157468,0.429106,0.729364
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548,0.257481

In [138]:
newDF

,A,B,C,D,E,F,G,H,I,J,K
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880,0.882548
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415,0.285576
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848,0.775277
5,0.186227,0.039529,0.564226,0.987826,0.863303,0.809900,0.984117,0.811330,0.514054,0.050633,0.885314
6,0.801769,0.048661,0.454128,0.844061,0.840367,0.731411,0.210022,0.409044,0.674399,0.895489,0.154902
...,...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854,0.649940
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736,0.270966
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607,0.927098
130,0.68784,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575,0.155750
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142,0.031317

In [145]:
newDF = newDF.drop("K",axis=1)
newDF

,A,B,C,D,E,F,G,H,I,J
2,0.912049,0.518396,0.279431,0.451404,0.619400,0.510744,0.334865,0.270678,0.520249,0.760880
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848
5,0.186227,0.039529,0.564226,0.987826,0.863303,0.809900,0.984117,0.811330,0.514054,0.050633
6,0.801769,0.048661,0.454128,0.844061,0.840367,0.731411,0.210022,0.409044,0.674399,0.895489
...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607
130,0.68784,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142

In [146]:
newDF = newDF.drop(2,axis=0)

In [147]:
newDF

,A,B,C,D,E,F,G,H,I,J
3,0.344679,0.735527,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415
4,0.241847,0.487257,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848
5,0.186227,0.039529,0.564226,0.987826,0.863303,0.809900,0.984117,0.811330,0.514054,0.050633
6,0.801769,0.048661,0.454128,0.844061,0.840367,0.731411,0.210022,0.409044,0.674399,0.895489
7,0.231169,0.147633,0.456368,0.404361,0.371154,0.718381,0.980531,0.641848,0.207934,0.240101
...,...,...,...,...,...,...,...,...,...,...
127,0.942503,0.103897,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854
128,0.816604,0.711056,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736
129,0.989184,0.354692,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607
130,0.68784,0.859939,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575
131,0.749952,0.581260,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142

In [148]:
newDF.loc[[3,4,5,6,7],['A','B','C','D','E']]

          A         B         C         D         E
3  0.344679  0.735527  0.365081  0.614840  0.989179
4  0.241847  0.487257  0.475877  0.206435  0.965785
5  0.186227  0.039529  0.564226  0.987826  0.863303
6  0.801769  0.048661  0.454128  0.844061  0.840367
7  0.231169  0.147633  0.456368  0.404361  0.371154

In [151]:
newDF.iloc[3,1]

0.048661235302458694

In [155]:
newDF.iloc[[0,5,2,4],[0,1,2,3]]

          A         B         C         D
3  0.344679  0.735527  0.365081  0.614840
8  0.358575  0.286544  0.834259  0.792811
5  0.186227  0.039529  0.564226  0.987826
7  0.231169  0.147633  0.456368  0.404361

In [157]:
newDF.drop(['A','B'],axis=1,inplace=True)

In [158]:
newDF

,C,D,E,F,G,H,I,J
3,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415
4,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848
5,0.564226,0.987826,0.863303,0.809900,0.984117,0.811330,0.514054,0.050633
6,0.454128,0.844061,0.840367,0.731411,0.210022,0.409044,0.674399,0.895489
7,0.456368,0.404361,0.371154,0.718381,0.980531,0.641848,0.207934,0.240101
...,...,...,...,...,...,...,...,...
127,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854
128,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736
129,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607
130,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575
131,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142

In [160]:
newDF.reset_index(drop=True,inplace=True)

In [161]:
newDF

,C,D,E,F,G,H,I,J
0,0.365081,0.614840,0.989179,0.895835,0.823484,0.031465,0.674876,0.827415
1,0.475877,0.206435,0.965785,0.481736,0.023176,0.192094,0.978233,0.482848
2,0.564226,0.987826,0.863303,0.809900,0.984117,0.811330,0.514054,0.050633
3,0.454128,0.844061,0.840367,0.731411,0.210022,0.409044,0.674399,0.895489
4,0.456368,0.404361,0.371154,0.718381,0.980531,0.641848,0.207934,0.240101
...,...,...,...,...,...,...,...,...
124,0.399337,0.419351,0.689900,0.608711,0.599916,0.079242,0.559303,0.457854
125,0.690787,0.688132,0.865118,0.384796,0.071435,0.717076,0.974293,0.958736
126,0.521180,0.057500,0.634105,0.556048,0.730791,0.534396,0.792656,0.034607
127,0.541290,0.565567,0.684221,0.925513,0.616957,0.214249,0.209553,0.416575
128,0.569212,0.722417,0.343522,0.264567,0.932907,0.912192,0.746144,0.593142