# **Getting Started with PANDAS....**

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {"name":["harry","rohan","ram"],
         "marks":[67,87,98],
         "city":["rampur","delhi","lmp"]
}

In [3]:
datF = pd.DataFrame(dict1)
datF

    name  marks    city
0  harry     67  rampur
1  rohan     87   delhi
2    ram     98     lmp

In [4]:
datF.to_csv("TestFriends.csv")

In [5]:
datF.to_csv("TestFriends_index.csv",index=False)

In [6]:
datF.head(2)

    name  marks    city
0  harry     67  rampur
1  rohan     87   delhi

In [7]:
datF.tail(2)

    name  marks   city
1  rohan     87  delhi
2    ram     98    lmp

In [8]:
datF.describe()

           marks
count   3.000000
mean   84.000000
std    15.716234
min    67.000000
25%    77.000000
50%    87.000000
75%    92.500000
max    98.000000

In [9]:
hridu = pd.read_csv("stocks.csv")
hridu

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    391                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

In [10]:
hridu["Price"][1] = 400
hridu

C:\Users\hrida\AppData\Local\Temp\ipykernel_18436\3939612007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hridu["Price"][1] = 400

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    400                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

In [11]:
hridu.to_csv("hridu.csv", index=False)

In [12]:
ser =  pd.Series(np.random.rand(54))

In [13]:
type(ser)

pandas.core.series.Series

In [14]:
ser

0     0.564605
1     0.587230
2     0.843918
3     0.743875
4     0.710728
5     0.833938
6     0.013913
7     0.258641
8     0.679641
9     0.591694
10    0.799632
11    0.702713
12    0.616017
13    0.962556
14    0.672525
15    0.038407
16    0.288304
17    0.632774
18    0.291033
19    0.834545
20    0.622390
21    0.222721
22    0.535111
23    0.271150
24    0.012692
25    0.652610
26    0.888362
27    0.880034
28    0.425510
29    0.999318
30    0.296041
31    0.139312
32    0.628826
33    0.338732
34    0.204596
35    0.152352
36    0.891864
37    0.816688
38    0.350460
39    0.939855
40    0.890108
41    0.762818
42    0.701285
43    0.509552
44    0.258067
45    0.861505
46    0.651875
47    0.806160
48    0.191960
49    0.342962
50    0.637792
51    0.944625
52    0.400174
53    0.971518
dtype: float64

In [15]:
newDF = pd.DataFrame(np.random.rand(132,12), index = np.arange(132))
newDF

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.053292,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,0.490337,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.420034,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.825843,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.981061,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.303351,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.869620,0.782195

In [16]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.053292,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,0.490337,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549

In [17]:
newDF.tail()

,0,1,2,3,4,5,6,7,8,9,10,11
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.420034,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.825843,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.981061,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.303351,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.869620,0.782195

In [18]:
newDF.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [19]:
newDF[0][0] = "Harry"
newDF.dtypes

C:\Users\hrida\AppData\Local\Temp\ipykernel_18436\344599495.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Harry' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newDF[0][0] = "Harry"

0      object
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [20]:
newDF.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       122, 123, 124, 125, 126, 127, 128, 129, 130, 131],
      dtype='int32', length=132)

In [21]:
newDF.columns

RangeIndex(start=0, stop=12, step=1)

In [22]:
newDF.to_numpy()

array([['Harry', 0.6234559523970935, 0.2733447801532569, ...,
        0.017058887101418896, 0.07568330580865845, 0.8920600693636502],
       [0.4903366240659849, 0.8386218321038819, 0.24721609112555243, ...,
        0.7528592117217133, 0.47765767958679095, 0.43021860131863077],
       [0.7097521324089682, 0.14545405802393563, 0.6932910282994803, ...,
        0.14257529775725153, 0.09485150376518514, 0.3171736319750742],
       ...,
       [0.4854030198649134, 0.9279385894860074, 0.20533603340489848, ...,
        0.025010813600722992, 0.9810607311713883, 0.3097739998402391],
       [0.15130907489782097, 0.2414819774011593, 0.6494615068282212, ...,
        0.21484192187525453, 0.30335097875594186, 0.6378835683717354],
       [0.673983257257188, 0.771761834273048, 0.14058941088089982, ...,
        0.12780077369086917, 0.869620426707423, 0.7821949144023026]],
      dtype=object)

In [23]:
newDF.T

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,Harry,0.490337,0.709752,0.754325,0.175924,0.895754,0.346699,0.719238,0.798054,0.456644,...,0.783083,0.466504,0.769841,0.913136,0.691754,0.698336,0.781418,0.485403,0.151309,0.673983
1,0.623456,0.838622,0.145454,0.40022,0.163527,0.560598,0.057205,0.80111,0.907768,0.220273,...,0.608207,0.886717,0.388368,0.128984,0.404375,0.423984,0.320345,0.927939,0.241482,0.771762
2,0.273345,0.247216,0.693291,0.717469,0.322328,0.397053,0.697646,0.483767,0.840705,0.151115,...,0.200281,0.042558,0.597098,0.313727,0.803413,0.865568,0.142466,0.205336,0.649462,0.140589
3,0.489207,0.725552,0.811144,0.901704,0.928509,0.022057,0.697694,0.667972,0.405351,0.319654,...,0.945532,0.796204,0.847841,0.903728,0.909761,0.33567,0.077199,0.665345,0.175662,0.374304
4,0.291976,0.491972,0.857825,0.463419,0.924113,0.895316,0.445198,0.764243,0.400577,0.453895,...,0.13872,0.206764,0.101517,0.555942,0.815446,0.705875,0.323424,0.898087,0.293557,0.474599
5,0.089325,0.057063,0.535663,0.359855,0.523792,0.660202,0.932043,0.022742,0.204114,0.185899,...,0.333936,0.285664,0.3842,0.481911,0.614102,0.530034,0.710015,0.503585,0.441179,0.033052
6,0.515102,0.222159,0.599837,0.318099,0.007359,0.243265,0.938348,0.042215,0.934511,0.416668,...,0.222974,0.205089,0.642443,0.663518,0.426003,0.900209,0.05959,0.966633,0.071897,0.77526
7,0.35536,0.200457,0.527394,0.059267,0.423696,0.265707,0.474852,0.320501,0.065832,0.289628,...,0.637636,0.367441,0.225597,0.738608,0.629585,0.262557,0.220599,0.156543,0.684763,0.067467
8,0.495351,0.909576,0.2888,0.599774,0.961223,0.594586,0.50349,0.284447,0.739037,0.131699,...,0.078853,0.875756,0.158119,0.275863,0.727175,0.249767,0.810032,0.599552,0.474111,0.393537
9,0.017059,0.752859,0.142575,0.419293,0.521115,0.593396,0.39356,0.763526,0.412141,0.77924,...,0.685363,0.724721,0.955583,0.105378,0.570382,0.783696,0.973744,0.025011,0.214842,0.127801
10,0.075683,0.477658,0.094852,0.51628,0.443802,0.248994,0.013692,0.969509,0.547125,0.793916,...,0.308137,0.170533,0.501158,0.63089,0.568789,0.420034,0.825843,0.981061,0.303351,0.86962
11,0.89206,0.430219,0.317174,0.030605,0.496549,0.241147,0.933934,0.879656,0.465438,0.216076,...,0.891809,0.263906,0.035098,0.029468,0.595467,0.075218,0.108403,0.309774,0.637884,0.782195

In [24]:
newDF.sort_index(axis=1, ascending=False)

,11,10,9,8,7,6,5,4,3,2,1,0
0,0.892060,0.075683,0.017059,0.495351,0.355360,0.515102,0.089325,0.291976,0.489207,0.273345,0.623456,Harry
1,0.430219,0.477658,0.752859,0.909576,0.200457,0.222159,0.057063,0.491972,0.725552,0.247216,0.838622,0.490337
2,0.317174,0.094852,0.142575,0.288800,0.527394,0.599837,0.535663,0.857825,0.811144,0.693291,0.145454,0.709752
3,0.030605,0.516280,0.419293,0.599774,0.059267,0.318099,0.359855,0.463419,0.901704,0.717469,0.400220,0.754325
4,0.496549,0.443802,0.521115,0.961223,0.423696,0.007359,0.523792,0.924113,0.928509,0.322328,0.163527,0.175924
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.075218,0.420034,0.783696,0.249767,0.262557,0.900209,0.530034,0.705875,0.335670,0.865568,0.423984,0.698336
128,0.108403,0.825843,0.973744,0.810032,0.220599,0.059590,0.710015,0.323424,0.077199,0.142466,0.320345,0.781418
129,0.309774,0.981061,0.025011,0.599552,0.156543,0.966633,0.503585,0.898087,0.665345,0.205336,0.927939,0.485403
130,0.637884,0.303351,0.214842,0.474111,0.684763,0.071897,0.441179,0.293557,0.175662,0.649462,0.241482,0.151309
131,0.782195,0.869620,0.127801,0.393537,0.067467,0.775260,0.033052,0.474599,0.374304,0.140589,0.771762,0.673983

In [25]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,0.490337,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549

In [26]:
newDF[0]

0         Harry
1      0.490337
2      0.709752
3      0.754325
4      0.175924
         ...
127    0.698336
128    0.781418
129    0.485403
130    0.151309
131    0.673983
Name: 0, Length: 132, dtype: object

In [27]:
newDF2 = newDF
newDF2[0][1] = "Aman"

In [28]:
newDF

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.420034,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.825843,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.981061,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.303351,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.869620,0.782195

In [29]:
newDF2

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.420034,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.825843,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.981061,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.303351,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.869620,0.782195

In [30]:
newDF3 = newDF.copy()

In [31]:
newDF3[1][2]= 9838

C:\Users\hrida\AppData\Local\Temp\ipykernel_18436\2297054547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDF3[1][2]= 9838

In [32]:
newDF3.loc[0,0] = 4536

In [33]:
newDF3

,0,1,2,3,4,5,6,7,8,9,10,11
0,4536,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,9838.000000,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.420034,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.825843,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.981061,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.303351,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.869620,0.782195

In [34]:
newDF.columns = list("ABCDEFGHIJKL")

In [35]:
newDF.head(4)

,A,B,C,D,E,F,G,H,I,J,K,L
0,Harry,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605

In [36]:
newDF.loc[0,"A"] = 6659
newDF.head(3)

,A,B,C,D,E,F,G,H,I,J,K,L
0,6659,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174

In [37]:
newDF

,A,B,C,D,E,F,G,H,I,J,K,L
0,6659,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.075683,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.477658,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.094852,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.516280,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.443802,0.496549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.420034,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.825843,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.981061,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.303351,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.869620,0.782195

In [38]:
newDF = newDF.drop("K",axis=1)
newDF

,A,B,C,D,E,F,G,H,I,J,L
0,6659,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.430219
2,0.709752,0.145454,0.693291,0.811144,0.857825,0.535663,0.599837,0.527394,0.288800,0.142575,0.317174
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.496549
...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.782195

In [39]:
newDF = newDF.drop(2,axis=0)

In [40]:
newDF

,A,B,C,D,E,F,G,H,I,J,L
0,6659,0.623456,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.892060
1,Aman,0.838622,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.430219
3,0.754325,0.400220,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.030605
4,0.175924,0.163527,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.496549
5,0.895754,0.560598,0.397053,0.022057,0.895316,0.660202,0.243265,0.265707,0.594586,0.593396,0.241147
...,...,...,...,...,...,...,...,...,...,...,...
127,0.698336,0.423984,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.075218
128,0.781418,0.320345,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.108403
129,0.485403,0.927939,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.309774
130,0.151309,0.241482,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.637884
131,0.673983,0.771762,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.782195

In [41]:
newDF.loc[[3,4,5,6,7],['A','B','C','D','E']]

          A         B         C         D         E
3  0.754325  0.400220  0.717469  0.901704  0.463419
4  0.175924  0.163527  0.322328  0.928509  0.924113
5  0.895754  0.560598  0.397053  0.022057  0.895316
6  0.346699  0.057205  0.697646  0.697694  0.445198
7  0.719238  0.801110  0.483767  0.667972  0.764243

In [42]:
newDF.iloc[3,1]

0.16352696179160808

In [43]:
newDF.iloc[[0,5,2,4],[0,1,2,3]]

          A         B         C         D
0      6659  0.623456  0.273345  0.489207
6  0.346699  0.057205  0.697646  0.697694
3  0.754325  0.400220  0.717469  0.901704
5  0.895754  0.560598  0.397053  0.022057

In [44]:
newDF.drop(['A','B'],axis=1,inplace=True)

In [45]:
newDF

,C,D,E,F,G,H,I,J,L
0,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.892060
1,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.430219
3,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.030605
4,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.496549
5,0.397053,0.022057,0.895316,0.660202,0.243265,0.265707,0.594586,0.593396,0.241147
...,...,...,...,...,...,...,...,...,...
127,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.075218
128,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.108403
129,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.309774
130,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.637884
131,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.782195

In [46]:
newDF.reset_index(drop=True,inplace=True)

In [47]:
newDF

,C,D,E,F,G,H,I,J,L
0,0.273345,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.892060
1,0.247216,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.430219
2,0.717469,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.030605
3,0.322328,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.496549
4,0.397053,0.022057,0.895316,0.660202,0.243265,0.265707,0.594586,0.593396,0.241147
...,...,...,...,...,...,...,...,...,...
126,0.865568,0.335670,0.705875,0.530034,0.900209,0.262557,0.249767,0.783696,0.075218
127,0.142466,0.077199,0.323424,0.710015,0.059590,0.220599,0.810032,0.973744,0.108403
128,0.205336,0.665345,0.898087,0.503585,0.966633,0.156543,0.599552,0.025011,0.309774
129,0.649462,0.175662,0.293557,0.441179,0.071897,0.684763,0.474111,0.214842,0.637884
130,0.140589,0.374304,0.474599,0.033052,0.775260,0.067467,0.393537,0.127801,0.782195

In [49]:
newDF['C'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
126    False
127    False
128    False
129    False
130    False
Name: C, Length: 131, dtype: bool

In [52]:
newDF.loc[:,['C']] = None

In [53]:
newDF['C'].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
126    True
127    True
128    True
129    True
130    True
Name: C, Length: 131, dtype: bool

In [55]:
newDF.head()

,C,D,E,F,G,H,I,J,L
0,None,0.489207,0.291976,0.089325,0.515102,0.355360,0.495351,0.017059,0.892060
1,None,0.725552,0.491972,0.057063,0.222159,0.200457,0.909576,0.752859,0.430219
2,None,0.901704,0.463419,0.359855,0.318099,0.059267,0.599774,0.419293,0.030605
3,None,0.928509,0.924113,0.523792,0.007359,0.423696,0.961223,0.521115,0.496549
4,None,0.022057,0.895316,0.660202,0.243265,0.265707,0.594586,0.593396,0.241147

In [56]:
dfx = pd.DataFrame({"Name":["Aman","Batman","Henry"],
                    "Toy":[np.nan, "Batmobile","Bullwhipe"],
                    "Born":[pd.NaT,pd.Timestamp("1940-04'12"),
                            pd.NaT]})

In [57]:
dfx.head()

     Name        Toy       Born
0    Aman        NaN        NaT
1  Batman  Batmobile 1940-04-12
2   Henry  Bullwhipe        NaT

In [58]:
dfx.dropna()

     Name        Toy       Born
1  Batman  Batmobile 1940-04-12