# **Getting Started with PANDAS....**

In [3]:
import numpy as np
import pandas as pd

In [4]:
dict1 = {"name":["harry","rohan","ram"],
         "marks":[67,87,98],
         "city":["rampur","delhi","lmp"]
}

In [5]:
datF = pd.DataFrame(dict1)
datF

    name  marks    city
0  harry     67  rampur
1  rohan     87   delhi
2    ram     98     lmp

In [6]:
datF.to_csv("TestFriends.csv")

In [7]:
datF.to_csv("TestFriends_index.csv",index=False)

In [8]:
datF.head(2)

    name  marks    city
0  harry     67  rampur
1  rohan     87   delhi

In [9]:
datF.tail(2)

    name  marks   city
1  rohan     87  delhi
2    ram     98    lmp

In [10]:
datF.describe()

           marks
count   3.000000
mean   84.000000
std    15.716234
min    67.000000
25%    77.000000
50%    87.000000
75%    92.500000
max    98.000000

In [11]:
hridu = pd.read_csv("stocks.csv")
hridu

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    391                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

In [12]:
hridu["Price"][1] = 400
hridu

C:\Users\hrida\AppData\Local\Temp\ipykernel_15048\3939612007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hridu["Price"][1] = 400

    Company Name  Price  Earnings Per Share   Book Value
0       Reliance   1467                  66          653
1     Tata Steel    400                  89          572
2        Infosys    650                  35          147
3      Axis Bank    739                  19          263
4  Bajaj Finance   4044                  69          341

In [13]:
hridu.to_csv("hridu.csv", index=False)

In [14]:
ser =  pd.Series(np.random.rand(54))

In [15]:
type(ser)

pandas.core.series.Series

In [16]:
ser

0     0.257511
1     0.581341
2     0.488469
3     0.384177
4     0.306553
5     0.420931
6     0.915285
7     0.180402
8     0.561381
9     0.896196
10    0.135211
11    0.809505
12    0.595384
13    0.522337
14    0.934139
15    0.003771
16    0.215697
17    0.326730
18    0.343115
19    0.281531
20    0.920206
21    0.781306
22    0.986067
23    0.313199
24    0.452412
25    0.109770
26    0.800793
27    0.763599
28    0.470863
29    0.547463
30    0.702600
31    0.757188
32    0.309225
33    0.929522
34    0.790301
35    0.198057
36    0.652412
37    0.480222
38    0.803043
39    0.378385
40    0.459923
41    0.936009
42    0.832161
43    0.798187
44    0.779714
45    0.916860
46    0.256558
47    0.376923
48    0.143483
49    0.450075
50    0.552500
51    0.002707
52    0.888418
53    0.755325
dtype: float64

In [17]:
newDF = pd.DataFrame(np.random.rand(132,12), index = np.arange(132))
newDF

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.538078,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,0.519002,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,0.669960,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.654342,0.262840,0.132842,0.767203,0.278264,0.271537,0.689032,0.420978,0.127778,0.989568,0.906328,0.897523
128,0.207258,0.594484,0.443670,0.350940,0.086984,0.497035,0.244974,0.119323,0.864778,0.731793,0.475307,0.769615
129,0.833090,0.369644,0.395733,0.156140,0.984328,0.123803,0.330242,0.757773,0.465484,0.104140,0.001305,0.867641
130,0.599966,0.363317,0.380725,0.999078,0.407917,0.701775,0.954380,0.816014,0.586832,0.692084,0.926880,0.593492
131,0.797487,0.792976,0.027274,0.627483,0.396955,0.868031,0.057006,0.547476,0.407065,0.307155,0.147656,0.493007

In [18]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.538078,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,0.519002,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,0.669960,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549

In [19]:
newDF.tail()

,0,1,2,3,4,5,6,7,8,9,10,11
127,0.654342,0.262840,0.132842,0.767203,0.278264,0.271537,0.689032,0.420978,0.127778,0.989568,0.906328,0.897523
128,0.207258,0.594484,0.443670,0.350940,0.086984,0.497035,0.244974,0.119323,0.864778,0.731793,0.475307,0.769615
129,0.833090,0.369644,0.395733,0.156140,0.984328,0.123803,0.330242,0.757773,0.465484,0.104140,0.001305,0.867641
130,0.599966,0.363317,0.380725,0.999078,0.407917,0.701775,0.954380,0.816014,0.586832,0.692084,0.926880,0.593492
131,0.797487,0.792976,0.027274,0.627483,0.396955,0.868031,0.057006,0.547476,0.407065,0.307155,0.147656,0.493007

In [20]:
newDF.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [21]:
newDF[0][0] = "Harry"
newDF.dtypes

C:\Users\hrida\AppData\Local\Temp\ipykernel_15048\344599495.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Harry' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newDF[0][0] = "Harry"

0      object
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [22]:
newDF.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       122, 123, 124, 125, 126, 127, 128, 129, 130, 131],
      dtype='int32', length=132)

In [23]:
newDF.columns

RangeIndex(start=0, stop=12, step=1)

In [24]:
newDF.to_numpy()

array([['Harry', 0.6276295698828783, 0.8460833758542272, ...,
        0.8774144383552946, 0.6493496389023496, 0.7780374323809576],
       [0.5190019346347183, 0.569564922936517, 0.8375059009933994, ...,
        0.57658201516952, 0.05461165810011659, 0.048529078884009924],
       [0.9397456448159963, 0.6699595748913839, 0.10782382394437018, ...,
        0.6344067575100338, 0.5624838070135553, 0.7196435578175564],
       ...,
       [0.833090079442996, 0.3696439710317201, 0.39573280065885574, ...,
        0.10413987399130864, 0.0013050755748812426, 0.8676412417804394],
       [0.5999660688799487, 0.36331662975389567, 0.38072527444587323,
        ..., 0.6920842453319106, 0.9268801419921988, 0.5934919973658065],
       [0.7974873868668436, 0.7929762000071295, 0.027274205827802267,
        ..., 0.3071547830494804, 0.14765629406049907, 0.4930072020959886]],
      dtype=object)

In [25]:
newDF.T

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,Harry,0.519002,0.939746,0.466573,0.989479,0.890729,0.825994,0.878575,0.860634,0.57156,...,0.957681,0.148626,0.041933,0.603686,0.625235,0.654342,0.207258,0.83309,0.599966,0.797487
1,0.62763,0.569565,0.66996,0.433741,0.056813,0.799822,0.368386,0.989351,0.728891,0.152922,...,0.38357,0.870276,0.203556,0.395422,0.178022,0.26284,0.594484,0.369644,0.363317,0.792976
2,0.846083,0.837506,0.107824,0.545758,0.626504,0.070465,0.97334,0.764098,0.251813,0.167256,...,0.189803,0.175664,0.698258,0.27698,0.463309,0.132842,0.44367,0.395733,0.380725,0.027274
3,0.546047,0.43341,0.426687,0.271422,0.0507,0.414907,0.372214,0.329771,0.884892,0.350787,...,0.077453,0.688378,0.581575,0.516854,0.674072,0.767203,0.35094,0.15614,0.999078,0.627483
4,0.638617,0.134991,0.287418,0.072714,0.917054,0.6348,0.387933,0.150329,0.602551,0.584814,...,0.343883,0.127752,0.438765,0.755354,0.642921,0.278264,0.086984,0.984328,0.407917,0.396955
5,0.829583,0.727987,0.82128,0.960978,0.167497,0.452449,0.360588,0.140747,0.78924,0.919472,...,0.152662,0.585763,0.764646,0.309671,0.337482,0.271537,0.497035,0.123803,0.701775,0.868031
6,0.7146,0.817532,0.053364,0.921175,0.518312,0.355301,0.3735,0.556864,0.277328,0.181692,...,0.585644,0.508359,0.728194,0.686382,0.497417,0.689032,0.244974,0.330242,0.95438,0.057006
7,0.559392,0.937914,0.993985,0.94406,0.446809,0.313172,0.128824,0.360352,0.359151,0.348389,...,0.897382,0.300872,0.694317,0.820381,0.693287,0.420978,0.119323,0.757773,0.816014,0.547476
8,0.184327,0.107316,0.126835,0.128674,0.782976,0.893724,0.57591,0.737237,0.991818,0.694741,...,0.559627,0.283763,0.542988,0.868798,0.624679,0.127778,0.864778,0.465484,0.586832,0.407065
9,0.877414,0.576582,0.634407,0.845124,0.33082,0.73073,0.841363,0.627755,0.131293,0.600056,...,0.139589,0.876078,0.383865,0.263961,0.892862,0.989568,0.731793,0.10414,0.692084,0.307155
10,0.64935,0.054612,0.562484,0.59676,0.908625,0.120736,0.437265,0.795856,0.482659,0.042186,...,0.958882,0.224827,0.906278,0.402719,0.226622,0.906328,0.475307,0.001305,0.92688,0.147656
11,0.778037,0.048529,0.719644,0.092182,0.971549,0.406448,0.514265,0.865676,0.33865,0.781196,...,0.3407,0.623547,0.007988,0.088848,0.597757,0.897523,0.769615,0.867641,0.593492,0.493007

In [26]:
newDF.sort_index(axis=1, ascending=False)

,11,10,9,8,7,6,5,4,3,2,1,0
0,0.778037,0.649350,0.877414,0.184327,0.559392,0.714600,0.829583,0.638617,0.546047,0.846083,0.627630,Harry
1,0.048529,0.054612,0.576582,0.107316,0.937914,0.817532,0.727987,0.134991,0.433410,0.837506,0.569565,0.519002
2,0.719644,0.562484,0.634407,0.126835,0.993985,0.053364,0.821280,0.287418,0.426687,0.107824,0.669960,0.939746
3,0.092182,0.596760,0.845124,0.128674,0.944060,0.921175,0.960978,0.072714,0.271422,0.545758,0.433741,0.466573
4,0.971549,0.908625,0.330820,0.782976,0.446809,0.518312,0.167497,0.917054,0.050700,0.626504,0.056813,0.989479
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.897523,0.906328,0.989568,0.127778,0.420978,0.689032,0.271537,0.278264,0.767203,0.132842,0.262840,0.654342
128,0.769615,0.475307,0.731793,0.864778,0.119323,0.244974,0.497035,0.086984,0.350940,0.443670,0.594484,0.207258
129,0.867641,0.001305,0.104140,0.465484,0.757773,0.330242,0.123803,0.984328,0.156140,0.395733,0.369644,0.83309
130,0.593492,0.926880,0.692084,0.586832,0.816014,0.954380,0.701775,0.407917,0.999078,0.380725,0.363317,0.599966
131,0.493007,0.147656,0.307155,0.407065,0.547476,0.057006,0.868031,0.396955,0.627483,0.027274,0.792976,0.797487

In [27]:
newDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,0.519002,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,0.669960,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549

In [28]:
newDF[0]

0         Harry
1      0.519002
2      0.939746
3      0.466573
4      0.989479
         ...
127    0.654342
128    0.207258
129     0.83309
130    0.599966
131    0.797487
Name: 0, Length: 132, dtype: object

In [29]:
newDF2 = newDF
newDF2[0][1] = "Aman"

In [30]:
newDF

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,Aman,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,0.669960,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.654342,0.262840,0.132842,0.767203,0.278264,0.271537,0.689032,0.420978,0.127778,0.989568,0.906328,0.897523
128,0.207258,0.594484,0.443670,0.350940,0.086984,0.497035,0.244974,0.119323,0.864778,0.731793,0.475307,0.769615
129,0.83309,0.369644,0.395733,0.156140,0.984328,0.123803,0.330242,0.757773,0.465484,0.104140,0.001305,0.867641
130,0.599966,0.363317,0.380725,0.999078,0.407917,0.701775,0.954380,0.816014,0.586832,0.692084,0.926880,0.593492
131,0.797487,0.792976,0.027274,0.627483,0.396955,0.868031,0.057006,0.547476,0.407065,0.307155,0.147656,0.493007

In [31]:
newDF2

,0,1,2,3,4,5,6,7,8,9,10,11
0,Harry,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,Aman,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,0.669960,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.654342,0.262840,0.132842,0.767203,0.278264,0.271537,0.689032,0.420978,0.127778,0.989568,0.906328,0.897523
128,0.207258,0.594484,0.443670,0.350940,0.086984,0.497035,0.244974,0.119323,0.864778,0.731793,0.475307,0.769615
129,0.83309,0.369644,0.395733,0.156140,0.984328,0.123803,0.330242,0.757773,0.465484,0.104140,0.001305,0.867641
130,0.599966,0.363317,0.380725,0.999078,0.407917,0.701775,0.954380,0.816014,0.586832,0.692084,0.926880,0.593492
131,0.797487,0.792976,0.027274,0.627483,0.396955,0.868031,0.057006,0.547476,0.407065,0.307155,0.147656,0.493007

In [32]:
newDF3 = newDF.copy()

In [33]:
newDF3[1][2]= 9838

C:\Users\hrida\AppData\Local\Temp\ipykernel_15048\2297054547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDF3[1][2]= 9838

In [34]:
newDF3.loc[0,0] = 4536

In [35]:
newDF3

,0,1,2,3,4,5,6,7,8,9,10,11
0,4536,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,Aman,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,9838.000000,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.654342,0.262840,0.132842,0.767203,0.278264,0.271537,0.689032,0.420978,0.127778,0.989568,0.906328,0.897523
128,0.207258,0.594484,0.443670,0.350940,0.086984,0.497035,0.244974,0.119323,0.864778,0.731793,0.475307,0.769615
129,0.83309,0.369644,0.395733,0.156140,0.984328,0.123803,0.330242,0.757773,0.465484,0.104140,0.001305,0.867641
130,0.599966,0.363317,0.380725,0.999078,0.407917,0.701775,0.954380,0.816014,0.586832,0.692084,0.926880,0.593492
131,0.797487,0.792976,0.027274,0.627483,0.396955,0.868031,0.057006,0.547476,0.407065,0.307155,0.147656,0.493007

In [37]:
newDF.columns = list("ABCDEFGHIJKL")
newDF

,A,B,C,D,E,F,G,H,I,J,K,L
0,Harry,0.627630,0.846083,0.546047,0.638617,0.829583,0.714600,0.559392,0.184327,0.877414,0.649350,0.778037
1,Aman,0.569565,0.837506,0.433410,0.134991,0.727987,0.817532,0.937914,0.107316,0.576582,0.054612,0.048529
2,0.939746,0.669960,0.107824,0.426687,0.287418,0.821280,0.053364,0.993985,0.126835,0.634407,0.562484,0.719644
3,0.466573,0.433741,0.545758,0.271422,0.072714,0.960978,0.921175,0.944060,0.128674,0.845124,0.596760,0.092182
4,0.989479,0.056813,0.626504,0.050700,0.917054,0.167497,0.518312,0.446809,0.782976,0.330820,0.908625,0.971549
...,...,...,...,...,...,...,...,...,...,...,...,...
127,0.654342,0.262840,0.132842,0.767203,0.278264,0.271537,0.689032,0.420978,0.127778,0.989568,0.906328,0.897523
128,0.207258,0.594484,0.443670,0.350940,0.086984,0.497035,0.244974,0.119323,0.864778,0.731793,0.475307,0.769615
129,0.83309,0.369644,0.395733,0.156140,0.984328,0.123803,0.330242,0.757773,0.465484,0.104140,0.001305,0.867641
130,0.599966,0.363317,0.380725,0.999078,0.407917,0.701775,0.954380,0.816014,0.586832,0.692084,0.926880,0.593492
131,0.797487,0.792976,0.027274,0.627483,0.396955,0.868031,0.057006,0.547476,0.407065,0.307155,0.147656,0.493007